<!DOCTYPE html>
<html>
  <head>
    <title>Depot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
 <body class="<%= controller.controller_name %>"
      <div class="wrapper">
            <header>

                  <nav>

                        <div class="menu-icon">
                              <i class="fa fa-bars fa-2x"></i>
                        </div>

                        <div class="logo">
                              FOR ROYALTY HOMEPAGE
                        </div>

                        <div class="menu">
                              <ul>
                                    <li><a href="/">HOME</a></li>
                                    <li><a href="#">ABOUT</a></li>
                                    <li><a href="carts">CART</a></li>
                                    <li><a href="products">PRODUCTS</a></li>
                              </ul>
                        </div>
                  </nav>
                  <br>
                  <br>
                  <br>
                  <br>
   

            </header>

           
      </div>

      <script type="text/javascript">

      // Menu-toggle button

      $(document).ready(function() {
            $(".menu-icon").on("click", function() {
                  $("nav ul").toggleClass("showing");
            });
      });

      // Scrolling Effect

      $(window).on("scroll", function() {
            if($(window).scrollTop()) {
                  $('nav').addClass('black');
            }

            else {
                  $('nav').removeClass('black');
            }
      })

      </script>
 <%=yield%>
</body>
</html>
